@import "modulos_sass/nav";
@import "modulos_sass/header";
@import "modulos_sass/contenido";
@import "modulos_sass/footer";
@import "modulos_sass/mobile";
@import "modulos_sass/mobile-tablets";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-principal{
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "menu"
                         "header"
                         "contenido"
                         "footer";
}

.contenedor-principal .p-header{
    height: 80px;
    grid-area: menu;
}

.contenedor-principal .s-header{
    height: 250px;
    grid-area: header;
}

.contenedor-principal .contenido{
    height: auto;
    grid-area: contenido;
}

.contenedor-principal .footer{
    height: 80px;
    grid-area: footer;
}









