//------------- Colores ------------//
$blanco: #F1F1F1;
$beige: #f8f9fa;
$salmon: #f6ebe3;
$border: #ccc;
$lightblue: lightblue;
$a: #fff;
$menu: #2E86C1;
$fondo-menu: #82E0AA;

//------------- Tipos de letra ------------//
$titulos: Poiret One, cursive;
$texto: Muli, sans-serif;
$font-titulos: Belleza, sans-serif;
$font-texto: Flamenco, cursive;