$titulos: 'Poiret One', cursive;
$texto: 'Muli', sans-serif;
$backgroundcontent: rgb(250, 248, 248);
$backgroundinfo: rgb(247, 240, 232);
$backgroundmultimedia: rgb(234, 248, 248);
$backgroundfooter: rgb(252, 252, 230);
$backgroundformulario: rgb(248, 248, 237);
$colorformu: rgb(107, 107, 107);
$colorplaceholder: rgb(204, 204, 209);
$border: #ccc;
$negro: #000;
$blanco: #F1F1F1;