.f_main {
    display: flex;
    flex: 1;

    .title {
        font-size: large;
        font-weight: bold;
    }

    .f_nav {
        background-color: lightcyan;
        padding-top: 3rem; /*Equivalente a 48px*/
        flex-grow: 1; /*Esto se puede acortar con la función de flex y los valores respectivos, es decir, flex: 1, 1, 5rem; */
        flex-shrink: 1;
        flex-basis: 5rem;
        border-radius: 0.5em;

        .title_nav {
            font-size: large;
            font-weight: bold;
        }

        .ultimas_noticias {
            padding-left: 20px;
            font-size: medium;
            text-align: left;
            font-family: 'Quicksand', sans-serif;
        }
    }

    .f_article {
        background-color: rgb(245, 233, 228);
        padding-top: 3rem; /*Equivalente a 48px*/
        flex-grow: 1; /*Esto se puede acortar con la función de flex y los valores respectivos, es decir, flex: 3, 3; */
        flex-shrink: 1;
        border-radius: 0.5em;

        .title_article {
            font-size: xx-large;
            font-weight: bold;
        }

        .not1, .not2, .not3, .not4 {
            display: flex;
            justify-content: space-around;
            margin: 10px;

            .foto1, .foto2, .foto3, .foto4 {
                border-radius: 1em;
                max-width: 100%;
                width: 250px;

                &:hover{
                    opacity: 0.7;
                }
            }

            .texto1, .texto2, .texto3, .texto4 {
                margin: 1em;
                font-size: large;
                text-align: left;
                display: flex;
                align-items: center;
                font-family: 'Quicksand', sans-serif;

                &:hover{
                    color: #28B463;
                    
                }
                
            }
        } 

        


    }

    .f_aside {
        background-color: rgb(229, 245, 244);
        padding-top: 3rem; /*Equivalente a 48px*/
        flex-grow: 1; /*Esto se puede acortar con la función de flex y los valores respectivos, es decir, flex: 1, 1, 5rem; */
        flex-shrink: 1;
        flex-basis: 5rem;
        border-radius: 0.5em;

        .title_aside {
            font-size: large;
            font-weight: bold;
        }

        .mas_leidas {
            padding-left: 20px;
            font-size: medium;
            text-align: left;
            font-family: 'Quicksand', sans-serif;
        }
    }
}
