.f_footer {
    background-color: rgb(205, 241, 205);
    padding-top: 3rem; /*Equivalente a 48px*/
    padding-bottom: 3rem; /*Equivalente a 48px*/
    font-family: 'Iceland', cursive;
    border-radius: 0.5em;
}