//<---------- @mixins ---------->

@mixin estilo-texto($font-fam, $font-size, $color, $align, $line-height){
    font-family: $font-fam;
    font-size: $font-size;
    color: $color;
    text-align: $align;
    line-height: $line-height;
}

@mixin tamanio($width, $height) {
    width: $width;
    height: $height;
}

@mixin gifi {
    width: 22.3em;
    height: 17.18em;
}

@mixin botones-left-right($border, $background) {
    padding: 1em;
    border: $border;
    background: $background;
}

@mixin line($animation) {
    animation: $animation;
    animation-direction: reverse; 
}

@mixin icon-line($animation) {
    background: #FFFFFF;
    animation: $animation;
}

@mixin alinear($display, $justify, $align, $marg-top, $padding){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    margin-top: $marg-top;
    padding: $padding;
}

//<---------- Estilos ---------->

.contenedor-principal{
    @include tamanio(none, 90em);
    background-color: #000000;
    opacity: 0.7;
}

.contenedor-header{
    @include tamanio(95%, 4em);
    margin: 0 auto;
    overflow: hidden;
    padding: 1em;
}

.main-header {
    @include tamanio(100%, 100%);
    @include alinear(flex, space-between, center, none, none);
    color: #FFFFFF;
    z-index: 1;
    transition: .4s ease-out;

    .logo{
        @include tamanio(25%, none);
        margin-left: 2em;

        img{
            @include tamanio(3.43em, 2.81em);
        }
    }

    a {
        @include estilo-texto(ProximaNova-Bold, 14px, #FFFFFF, center, none);
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    .nav-links {
        display: flex;
        list-style: none;
        
        .nav-link {
           a {
                margin: .2rem;
                padding: 1rem .5rem; 
            }
           a:hover {
               background: rgba(255, 255, 255, 0.2);
           } 
        }

        .im{
            @include tamanio(2.12em, 2.12em);
            @include alinear(flex, center, none, -0.5em, none);
            border-radius: 2em;
            border: 1px solid #FFFFFF;
            background-color: #FFFFFF;

            .img{
                background-color: #000000;
                border: 1px solid #FFFFFF;
            }
        }
    }

.menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
        @include tamanio(1.25em, 0.12em);
        display: block;
        position: relative;
        background: #FFFFFF;
        border-radius: 4px;

        &::before, &::after {
            content:  '';
            @include tamanio(100%, 100%);
            position: absolute;
            border-radius: 4px;
            background: #FFFFFF;
            transition: background .8s ease;
        }

        &::before {
            transform: translateY(-5px);
        }

        &::after {
            transform: translateY(5px);
        }
    }
}

.menu-btn {
    display: none;
}

}

.main{
    @include tamanio(95%, 70em);    
    margin: 0 auto;
    margin-top: 4em;

    .article-principal{
        @include tamanio(100%, 100%);
        
        .buscar-gifos{
            @include tamanio(none, 50%);
    
            .contenido{
                @include tamanio(100%, 100%);
                flex-direction: column;
                
                .texto-gifos{
                    @include estilo-texto(ProximaNova-Bold, 40px, #FFFFFF, center, 50px);
                    @include tamanio(40%, none);
                    padding: 1em;
                    margin: auto;

                    .gifo{
                        color: #5ED7C6;;   
                    }
                }

                .ilustra{
                    display: flex;
                    margin: auto;
                }
               
                .search-container{
                    @include tamanio(100%, none);
                    @include alinear(flex, center, center, none, none);
            
                    input[type=text] {
                        @include estilo-texto(ProximaNova-Bold, 16px, #9CAFC3, left, none);
                        @include tamanio(30em, none);
                        float: left;
                        padding: 7px;
                        margin-top: -0.5em;
                        background: #000000;
                        border: 1px solid #FFFFFF;
                        border-radius: 27px;
                    }

                    button{
                        padding: 6px 10px;
                        margin-top: -0.6em;
                        margin-left: -5em;
                        background: none;
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                    }                        
                }

                .info{
                    @include tamanio(100%, none);
                    text-align: center;
                    margin-top: 5em;

                    .titulo{
                        @include estilo-texto(ProximaNova-Bold, 18px, #FFFFFF, center, 25px);
                        font-weight: bold;
                    }

                    .inform{
                        @include estilo-texto(ProximaNova-Bold, 18px, #FFFFFF, center, 25px);
                    }
                }                    
            }
        }

        .trending-gifos{
            @include tamanio(100%, 38em);
            
            .trend-gifo{
                @include tamanio(100%, 100%);
                background: #222326;

                .primer-texto{
                    @include estilo-texto(ProximaNova-Bold, 30px, #FFFFFF, center, 30px);
                }

                .inf-trending{
                    @include estilo-texto(ProximaNova-Bold, 18px, #FFFFFF, center, 40px);
                    padding: 4em;
                }

                .galeria-gif{
                    @include tamanio(70%, none);
                    @include alinear(flex, space-between, center, none, none);
                    margin: auto;

                    .left{
                        @include botones-left-right(1px solid #FFFFFF, none);
                        margin: 0.5em;
                    }

                    .gifi1{
                        @include gifi;
                        margin: 1em;
                        background-color: lightgrey;
                    }

                    .gifi2{
                        @include gifi;
                        margin: 1em;
                        background-color: rgb(211, 158, 158);
                    }

                    .gifi3{
                        @include gifi;
                        margin: 1em;
                        background-color: rgb(125, 126, 219);
                    }

                    .right{
                        margin: 0.5em;
                        @include botones-left-right(none, #FFFFFF);
                    }
                }
            }
        }     
    }
}

.footer-p{
    @include tamanio(95%, 5em);
    margin: 0 auto;
    margin-top: 4.5em;
   
    .footer{
        @include estilo-texto(ProximaNova-Regular, 15px, #FFFFFF, none, none);
        @include tamanio(90%, none);
        @include alinear(inline-flex, space-between, center, 1em, none);
        letter-spacing: 0;

        .parte1{
            display: inline-flex;
            margin-left: 9em;
        
            .icon{
                padding: 1em;
            }
        }       
    }
}

//<---------- Media queries ---------->

@media screen and (max-width: 767px) {

.contenedor-principal{
    @include tamanio(none, 75em);

    .main-header {
        @include tamanio(none, 10%);
        
        .menu-icon {
            display: block;

            &__line {
                @include line(closedMid 0.8s backwards);
            
                &::before {
                    @include line(closedTop 0.8s backwards);
                }
                &::after {
                    @include line(closedBtm 0.8s backwards);
                }
            }

        }

        .nav-links {
            @include tamanio(90vw, 89vh);
            position: absolute;
            margin: 1em;
            top: 3em;
            left: 0;
            opacity: 0;
            flex-direction: column;
            align-items: center;
            padding: 0;
            color: #222326;
            background: #222326;
            transition:
                opacity .5s .5s,
                clip-path 1s .5s;
            clip-path: circle(200px at top right);


            .nav-link {
                @include tamanio(100%, 10%);
                opacity: 0;
                transform: translateX(100%);
                text-align: center; 

                a {
                    @include estilo-texto(none, 20px, #FFFFFF, center, 30px);
                    align-items: center;
                    display: block;
                }
            }

            .im{
                display: none;
            }
        }

        .menu-btn:checked~.nav-links {
            opacity: 1;
            clip-path: circle(100% at center);

            .nav-link {
                opacity: 1;
                transform: translateX(0);
                transition:
                    opacity .4s ease-in-out,
                    transform .6s cubic-bezier(0.175, 0.085, 0.32, 1.275);

                &:nth-of-type(1) {
                    transition-delay: .7s;
                }

                &:nth-of-type(2) {
                    transition-delay: .8s;
                }

                &:nth-of-type(3) {
                    transition-delay: .9s;
                }

                &:nth-of-type(4) {
                    transition-delay: 1s;
                }

            }
        }

        .menu-btn:checked ~  .menu-icon {
            border-radius: 50%;
            animation: pulse 1s;
            
            .menu-icon__line {
                @include icon-line(openMid 0.8s forwards);
                
                &::before {
                    @include icon-line(openTop 0.8s forwards);
                }
                &::after {
                    @include icon-line(openBtm 0.8s forwards);
                }
            }
        }

        .logo{
            @include tamanio(25%, none);
            margin-top: 1em;
            margin-left: 0;
    
            img{
                @include tamanio(2.18em, 2.18em);
            }
        }
    }

    .main{
        @include tamanio(none, 50em);
        margin-top: 1em ;

        .article-principal{
            .buscar-gifos{
                @include tamanio(none, 52%);
               
                .contenido{                    
                    .texto-gifos{
                        @include tamanio(100%, none);
                        font-size: 30px;
                        line-height: 36px;
                        padding: 0em;
                        margin: 0;
                    }

                    .ilustra{
                        @include tamanio(85%, none);                       
                    }

                    .search-container{ 
                        @include tamanio(100%, none);
                                             
                        input[type=text] {
                            @include tamanio(18em, none);
                        }
    
                        button{
                            margin-left: -4em;
                        }                        
                    }

                    .info{
                        @include tamanio(70%, none);
                        text-align: center;
                        flex-direction: column;
                        margin: auto;
                            
                        .titulo{
                            font-size: 14px;
                        }
    
                        .inform{
                            font-size: 14px;
                        }
                    }
                }
            }

            .trending-gifos{    
                @include tamanio(none, 33em);

                .trend-gifo{ 
                    @include tamanio(none, 90%); 
                    
                    .primer-texto{
                        font-size: 25px;
                        line-height: 30px;
                    }
    
                    .inf-trending{
                        @include tamanio(70%, none);
                        font-size: 18px;
                        padding: 2.5em;
                        line-height: 25px;
                    }
    
                    .galeria-gif{
                        @include tamanio(200%, none);

                        .left{
                            display: none;
                        }
    
                        .gifi1{
                            width: 247px;
                            height: 187px;
                            margin: 0.5em;
                        }    
    
                        .gifi2{
                            width: 247px;
                            height: 187px;
                            margin: 0.5em;
                        }
    
                        .gifi3{
                            width: 247px;
                            height: 187px;
                            margin: 0.5em;
                        }
    
                        .right{
                            display: none;
                        }
                        
                    }
                }
            } 
        }    
    }

    .footer-p{
        @include tamanio(100%, 10em);
        margin-top: 8em;

        .footer{
            @include tamanio(100%, none);
            @include alinear(block, center, center, 0, none);
            flex-wrap: wrap;

            .parte1{
                text-align: center;
                display: block;
                margin-left: 0em;
                
                .icon{
                    padding: 1em;
                }
            } 

            .parte2{
                text-align: center;
            }                    
        }
    }    
}
    
}

@keyframes pulse {
    from {
      box-shadow: 0 0 0 0px rgba(255,255, 255, 0.6);
      background: rgba(255,255, 255, 0.6);
    }
    to {
      box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
      background: rgba(255,255, 255, 0);
    }
}
  
@keyframes openTop {
    0% {
      transform: translateY(-5px)
      rotate(0deg);
    }
    50% {
      transform: translateY(0px)
      rotate(0deg);
    }
    100% {
      transform: translateY(0px)
      rotate(90deg);
    }
}

@keyframes closedTop {
    0% {
      transform: translateY(-5px)
      rotate(0deg);
    }
    50% {
      transform: translateY(0px)
      rotate(0deg);
    }
    100% {
      transform: translateY(0px)
      rotate(90deg);
    }
}

@keyframes openMid {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
}

@keyframes closedMid {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
}

@keyframes openBtm {
    0% {
      transform: translateY(5px)
      rotate(0deg);
    }
    50% {
      transform: translateY(0px)
      rotate(0deg);
    }
    100% {
      transform: translateY(0px)
      rotate(90deg);
    }
}

@keyframes closedBtm {
    0% {
      transform: translateY(5px)
      rotate(0deg);
    }
    50% {
      transform: translateY(0px)
      rotate(0deg);
    }
    100% {
      transform: translateY(0px)
      rotate(90deg);
    }
}



 

