.contenido{
    position: relative;
    overflow: hidden;

    .contenido-seccion1{
        background-image: linear-gradient(#0000FF, #0000A3);

        .header__bg {
            position: relative;
            height: 120px;
            background-image: linear-gradient(225deg, white 0%, white 100%);
            clip-path: polygon(
              100% 0,
              0 100%,
              0 100%,
              0 calc(100% - 20vw));
        }

        .header2__bg {
            position: relative;
            height: 120px;
            background-image: linear-gradient(225deg, white 0%, white 100%);
            clip-path: polygon(
            100% 100%,
            100% 0,
            100% 0,
            -170% calc(100% + 5vw));
        }

        .secc1-titulo1 {
            .titulo{

                h2{
                    font-family: 'Cormorant SC', serif;
                    margin-left: 200px;
                    font-size: 48px;
                    color: white;
                }
            }
        }
        .seccion1{
            height: 650px;
            margin: 1em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-template-areas: "podcast1 podcast2"
                                "podcast3 podcast4";
            align-content: center;
            justify-items: center;

            .podcast1{
                grid-area: podcast1;
                width: 584px;
                height: 232px;
                margin: 1em;
                margin-left: 70px;
            
                iframe{
                    width: 100%;
                    height: 100%; 
                }
            }

            .podcast2{
                grid-area: podcast2;
                width: 584px;
                height: 232px;
                margin: 1em;
                margin-right: 70px;

                iframe{
                    width: 100%;
                    height: 100%;
                }
            }

            .podcast3{
                grid-area: podcast3;
                width: 584px;
                height: 232px;
                margin: 1em;
                margin-left: 70px;

                iframe{
                    width: 100%;
                    height: 100%;
                }
            }

            .podcast4{
                grid-area: podcast4;
                width: 584px;
                height: 232px;
                margin: 1em;
                margin-right: 70px;
        
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .seccion2{
        height: 400px;
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "imagen texto"; 
       
        .imagen{
            grid-area: imagen;
            width: 650px;
            height: 450px;
            margin-left: 120px;
            margin-top: -150px;
            z-index: 2;  
               
            img{
                width: 100%;
                height: 100%;  
                border-radius: 1em;              
            }            
        }

        .texto{
            grid-area: texto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 464px;
            height: 204px;
            margin: 1em;

            h2{
                font-family: 'Cormorant SC', serif;
                font-size: 32px;
                margin: 0.3em;
            }

            p{
                font-family: 'Buda', cursive;
                font-size: 20px;
                margin: 0.5em;
            }
        }
    }

    .secc3-titulo3 {
        
        .titulo-3 {
            height: 62px; 
            margin-left: 200px;

            h2{
                font-family: 'Cormorant SC', serif;
                font-size: 48px;
                color: #060A24;
                letter-spacing: 0;  

            }
        }

    }

    .seccion3{
        height: 730px;
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
                             "foto1 foto2 foto3"
                             "foto4 foto5 foto6"; 

        .foto1{
            grid-area: foto1;
            width: 480px;
            height: 364px;

            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }           
        }

        .foto2{
            grid-area: foto2;
            width: 480px;
            height: 364px;
            
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .foto3{
            grid-area: foto3;
            width: 480px;
            height: 364px;

            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .foto4{
            grid-area: foto4;
            width: 480px;
            height: 364px;
        
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .foto5{
            grid-area: foto5;
            width: 480px;
            height: 364px;
        
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .foto6{
            grid-area: foto6;
            width: 480px;
            height: 364px;

            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .secc4-titulo4 {
        
        .titulo-4 {
            height: 62px; 
            margin-left: 200px;
            margin-top: 70px;

            h2{
                font-family: 'Cormorant SC', serif;
                font-size: 48px;
                color: #060A24;
                letter-spacing: 0;  

            }
        }

    }

    .seccion4{
        height: 200px;
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "topico1 topico2 topico3 topico4";
       
        
        .topico1{
            grid-area: topico1;
            margin: 1em;
            width: 304px;
            height: 304px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin: 0.6em;
                width: 50%;
                height: 40%;
            }

            p{
                text-align: center;
                font-family: 'Buda', cursive;
                font-weight: bold;
                font-size: 24px;
            }
        }

        .topico2{
            grid-area: topico2;
            margin: 1em;
            width: 304px;
            height: 304px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            img{
                margin: 1em;
                width: 50%;
                height: 35%;
            }

            p{
                text-align: center;
                font-family: 'Buda', cursive;
                font-weight: bold;
                font-size: 24px;
            }            
        }

        .topico3{
            grid-area: topico3;
            margin: 1em;
            width: 304px;
            height: 304px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin: 1em;
                width: 50%;
                height: 35%;
            }

            p{
                text-align: center;
                font-family: 'Buda', cursive;
                font-weight: bold;
                font-size: 24px;
            }            
        }

        .topico4{
            grid-area: topico4;
            margin: 1em;
            width: 304px;
            height: 304px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            img{
                margin: 1em;
                width: 50%;
                height: 35%;
            }

            p{
                text-align: center;
                font-family: 'Buda', cursive;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }

    .seccion5{
        position: relative;
        height: 518px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(
        100% 100%,
        100% 90%,
        100% 0,
        -190% calc(100% + 0vw));
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            z-index: 1;
            margin: 1em;
            font-family: 'Cormorant SC', serif;
            font-size: 48px;
            color: white;
            text-align: center;
        }

        button{
            z-index: 1;
            width: 345px;
            height: 56px;
            background: #00F3BB;
            font-family: 'Buda', cursive;
            font-size: 20px;
            font-weight: bold;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            line-height: 24px;
        }
    }
}