.p-header {
  width: 100%;
  height: 80px; }
  .p-header .logo {
    width: 50%;
    height: 50%; }
    .p-header .logo img {
      width: 25%;
      float: left; }
  .p-header label {
    margin: 0px 10px 0px 0px;
    width: 26px;
    padding: 10px;
    float: right;
    font-size: 26px;
    line-height: 80px;
    display: none; }

.menu {
  border-bottom: 1px solid #EAEAEB;
  width: 100%;
  height: 80px;
  line-height: 20px; }
  .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; }
    .menu ul li {
      margin: 0 10px;
      text-align: center;
      line-height: 70px;
      display: inline-block; }
      .menu ul li a {
        padding: 10px;
        font-family: IBMPlexMono;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        text-decoration: none;
        clear: right; }
        .menu ul li a:hover {
          background-color: #D6EAF8;
          transition: 0.3s; }

#toggle {
  display: none; }

.s-header {
  flex-direction: column; }
  .s-header h1 {
    margin-top: 40px;
    margin-left: 200px;
    font-family: IBMPlexSans;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0; }
  .s-header p {
    margin-top: 10px;
    margin-left: 200px;
    width: 628px;
    height: 48px;
    font-family: IBMPlexMono;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px; }
  .s-header .boton {
    margin-top: 10px;
    margin-left: 200px;
    width: 226px;
    height: 56px;
    padding: 0.5em;
    font-family: IBMPlexMono-Medium;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    background: #00F3BB;
    border-style: none; }

.contenido .seccion1 {
  height: 600px;
  margin: 1em;
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "podcast1 podcast2" "podcast3 podcast4";
  background-color: lemonchiffon;
  align-content: center;
  justify-items: center; }
  .contenido .seccion1 h1 {
    position: absolute;
    margin: 0.5em; }
  .contenido .seccion1 .podcast1 {
    grid-area: podcast1;
    width: 75%;
    height: 95%;
    line-height: 200px; }
    .contenido .seccion1 .podcast1 iframe {
      width: 100%;
      height: 100%; }
  .contenido .seccion1 .podcast2 {
    grid-area: podcast2;
    width: 75%;
    height: 95%;
    line-height: 200px; }
    .contenido .seccion1 .podcast2 iframe {
      width: 100%;
      height: 100%; }
  .contenido .seccion1 .podcast3 {
    grid-area: podcast3;
    width: 75%;
    height: 95%;
    line-height: 200px; }
    .contenido .seccion1 .podcast3 iframe {
      width: 100%;
      height: 100%; }
  .contenido .seccion1 .podcast4 {
    grid-area: podcast4;
    width: 75%;
    height: 95%;
    line-height: 200px; }
    .contenido .seccion1 .podcast4 iframe {
      width: 100%;
      height: 100%; }

.contenido .seccion2 {
  height: 500px;
  margin: 1em;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "imagen texto";
  background-color: lightgray; }
  .contenido .seccion2 .imagen {
    grid-area: imagen;
    width: 450px;
    height: 350px;
    margin-left: 120px;
    margin-top: 80px; }
    .contenido .seccion2 .imagen img {
      width: 100%;
      height: 100%;
      border-radius: 1em; }
  .contenido .seccion2 .texto {
    grid-area: texto;
    margin: 1em;
    background-color: lemonchiffon; }

.contenido .seccion3 {
  height: 730px;
  margin: 1em;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6";
  background-color: lightpink; }
  .contenido .seccion3 .foto1 {
    grid-area: foto1;
    margin: 1em;
    background-color: lemonchiffon; }
  .contenido .seccion3 .foto2 {
    grid-area: foto2;
    margin: 1em;
    background-color: lightgray; }
  .contenido .seccion3 .foto3 {
    grid-area: foto3;
    margin: 1em;
    background-color: lightsteelblue; }
  .contenido .seccion3 .foto4 {
    grid-area: foto4;
    margin: 1em;
    background-color: lemonchiffon; }
  .contenido .seccion3 .foto5 {
    grid-area: foto5;
    margin: 1em;
    background-color: lemonchiffon; }
  .contenido .seccion3 .foto6 {
    grid-area: foto6;
    margin: 1em;
    background-color: lemonchiffon; }

.contenido .seccion4 {
  height: 330px;
  margin: 1em;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "topico1 topico2 topico3";
  background-color: lightseagreen; }
  .contenido .seccion4 .topico1 {
    grid-area: topico1;
    margin: 1em;
    background-color: lemonchiffon; }
  .contenido .seccion4 .topico2 {
    grid-area: topico2;
    margin: 1em;
    background-color: lemonchiffon; }
  .contenido .seccion4 .topico3 {
    grid-area: topico3;
    margin: 1em;
    background-color: lemonchiffon; }

.contenido .seccion5 {
  height: 518px;
  margin: 1em; }

@media screen and (max-width: 320px) {
  .contenedor-principal {
    grid-template-areas: "menu" "header" "contenido" "footer"; }
  .p-header {
    width: 100%;
    height: 44px; }
    .p-header label {
      margin: 0px 10px 0px 0px;
      line-height: 0px;
      display: block;
      font-size: 18px;
      cursor: pointer; }
    .p-header .logo {
      width: 70%;
      height: 70%; }
      .p-header .logo img {
        width: 70%;
        float: left; }
    .p-header .menu {
      width: 100%;
      float: right;
      transition: all 0.5s;
      display: none; }
      .p-header .menu ul {
        width: 100%;
        flex-direction: column;
        background-color: #f2f2f2; }
        .p-header .menu ul li {
          margin: 0;
          line-height: 45px;
          border-top: 1px solid silver; }
          .p-header .menu ul li a {
            font-size: 12px;
            padding: 0;
            display: block; }
    .p-header #toggle:checked ~ .menu {
      display: block;
      position: relative; }
  .s-header {
    flex-direction: column; }
    .s-header h1 {
      margin-top: 30px;
      margin-left: 16px;
      font-size: 26px; }
    .s-header p {
      margin-top: 15px;
      margin-left: 16px;
      margin-right: 16px;
      width: 90%;
      height: 42px;
      font-size: 14px;
      line-height: 22px; }
    .s-header .boton {
      margin-top: 50px;
      margin-left: 16px;
      width: 288px;
      height: 48px;
      padding: 0.5em;
      line-height: 14px; }
  .contenido .seccion1 {
    height: 1100px;
    margin: 0;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas: "podcast1 podcast1" "podcast2 podcast2" "podcast3 podcast3" "podcast4 podcast4"; }
    .contenido .seccion1 h1 {
      position: absolute;
      margin: 0.5em; }
    .contenido .seccion1 .podcast1 {
      width: 90%;
      height: 95%; }
      .contenido .seccion1 .podcast1 iframe {
        width: 100%;
        height: 100%; }
    .contenido .seccion1 .podcast2 {
      width: 90%;
      height: 95%; }
      .contenido .seccion1 .podcast2 iframe {
        width: 100%;
        height: 100%; }
    .contenido .seccion1 .podcast3 {
      width: 90%;
      height: 95%; }
      .contenido .seccion1 .podcast3 iframe {
        width: 100%;
        height: 100%; }
    .contenido .seccion1 .podcast4 {
      width: 90%;
      height: 95%; }
      .contenido .seccion1 .podcast4 iframe {
        width: 100%;
        height: 100%; }
  .contenido .seccion2 {
    grid-template-areas: "imagen imagen" "texto texto"; }
  .contenido .seccion3 {
    grid-template-areas: "foto1 foto1 foto1" "foto2 foto2 foto2" "foto3 foto3 foto3" "foto4 foto4 foto4" "foto5 foto5 foto5" "foto6 foto6 foto6"; }
  .contenido .seccion4 {
    grid-template-areas: "topico1 topico1 topico1" "topico2 topico2 topico2" "topico3 topico3 topico3"; } }

* {
  margin: 0;
  padding: 0; }

.contenedor-principal {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  display: grid;
  grid-gap: 15px;
  /*grid-template-columns: repeat(2, 1fr);*/
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "menu" "header" "contenido" "footer"; }

.contenedor-principal {
  /* .menu{
        background-color: rgb(245, 234, 234);
    }*/ }
  .contenedor-principal .s-header {
    background-color: #f5eaea; }
  .contenedor-principal .contenido {
    background-color: #f5eaea; }
  .contenedor-principal .footer {
    background-color: #f5eaea; }

.contenedor-principal .p-header {
  height: 80px;
  grid-area: menu; }

.contenedor-principal .s-header {
  height: 250px;
  grid-area: header; }

.contenedor-principal .contenido {
  height: auto;
  grid-area: contenido; }

.contenedor-principal .footer {
  height: 80px;
  grid-area: footer; }
/*# sourceMappingURL=estilos.css.map */